@page "/calculator"
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<style>
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        padding: 10px;
    }

    .display {
        grid-column: 1 / span 4;
        background-color: #f4f4f4;
        padding: 10px;
        font-size: 24px;
        text-align: right;
    }

    .button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }

    .clear {
        background-color: #ff6347; /* Tomato */
        color: white;
    }

    .percent {
        background-color: #ffa500; /* Orange */
        color: white;
    }

    .operator {
        background-color: #4b0082; /* Indigo */
        color: white;
    }

    .seven, .eight, .nine, .four, .five, .six, .one, .two, .three, .zero {
        background-color: #f4f4f4;
        color: #333;
    }

    .equal {
        background-color: #008000; /* Green */
        color: white;
    }

    .dot {
        background-color: #ff8c00; /* DarkOrange */
        color: white;
    }

</style>

<div class="container">
    <div class="display">@output</div>
    <button class="button seven" @onclick="() => AppendDigit(7)">7</button>
    <button class="button eight" @onclick="() => AppendDigit(8)">8</button>
    <button class="button nine" @onclick="() => AppendDigit(9)">9</button>
    <button class="button four" @onclick="() => AppendDigit(4)">4</button>
    <button class="button five" @onclick="() => AppendDigit(5)">5</button>
    <button class="button six" @onclick="() => AppendDigit(6)">6</button>
    <button class="button one" @onclick="() => AppendDigit(1)">1</button>
    <button class="button two" @onclick="() => AppendDigit(2)">2</button>
    <button class="button three" @onclick="() => AppendDigit(3)">3</button>
    <button class="button zero" @onclick="() => AppendDigit(0)">0</button>
    <button class="button operator divide" @onclick="() => SetOperator('/'.ToString())">/</button>
    <button class="button operator multiply" @onclick="() => SetOperator('*'.ToString())">x</button>
    <button class="button operator subtract" @onclick="() => SetOperator('-'.ToString())">-</button>
    <button class="button operator add" @onclick="() => SetOperator('+'.ToString())">+</button>
    <button class="button clear" @onclick="Clear">C</button>
    <button class="button percent" @onclick="Percent">%</button>
    <button class="button dot" @onclick="AppendDot">.</button>
    <button class="button equal" @onclick="Calculate">=</button>
</div>

@code {
    string output = "0";
    double num1 = 0;
    double num2 = 0;
    string op = "";

    void Clear()
    {
        output = "0";
        num1 = 0;
        num2 = 0;
        op = "";
    }

    void Percent()
    {
        if (op == "")
        {
            num1 = num1 / 100;
            output = num1.ToString();
        }
        else
        {
            num2 = num2 / 100;
            output = num2.ToString();
        }
    }

    void SetOperator(string o)
    {
        if (op == "")
        {
            op = o;
            num1 = double.Parse(output);
            output = "0";
        }
        else
        {
            Calculate();
            op = o;
        }
    }

    void AppendDigit(int d)
    {
        if (output == "0")
        {
            output = d.ToString();
        }
        else
        {
            output += d.ToString();
        }

        if (op == "")
        {
            num1 = double.Parse(output);
        }
        else
        {
            num2 = double.Parse(output);
        }
    }

    void AppendDot()
    {
        if (!output.Contains("."))
        {
            output += ".";
        }
    }

    void Calculate()
    {
        switch (op)
        {
            case "+":
                num1 = num1 + num2;
                break;
            case "-":
                num1 = num1 - num2;
                break;
            case "*":
                num1 = num1 * num2;
                break;
            case "/":
                num1 = num1 / num2;
                break;
        }

        output = num1.ToString();
        num2 = 0;
        op = "";
    }
}
